<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MUL-T</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/character-style.css">
    <link rel="stylesheet" href="../assets/css/engine.css">

</head>
<body>
<!-- Блок с навигацией -->
<div class="navbar">
    <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="https://gearboxsoftware.zendesk.com/hc/en-us/categories/360001615171-Risk-of-Rain-2">Support</a></li>
            <li><a href="../Characters.html">Characters</a></li>
        </ul>
    </nav>
</div>
<!-- Дополнительная информация о персонаже -->
<section class="information_character">
    <div class="center-block">
        <div class="page-one-character">
            <div class="preview-character">
                <img src="../assets/images/Characters/MUL-T/MUL-T.webp" alt="MUL-T">
                <div>
                    <h2 style="text-shadow: 1px 1px 2px black;">MUL-T</h2>
                    <p style="color: #898989; text-shadow: 1px 1px 2px black;">Survivor</p>
                </div>
            </div>

            <div class="character-stats">
                <div>
                    <div class="tableaa">
                        <div>
                            <p>Health</p>
                            <p>200 (+60 per level) </p>
                        </div>
                        <div>
                            <div>Health Regen</div>
                            <div>
                                <div>
                                    <img src="../assets/images/Pain/Drizzle.png" alt="Drizzle">
                                    <span style="color: #9CE562;">1.5/s (+0.2 per level)</span>
                                </div>
                                <div>
                                    <img src="../assets/images/Pain/Rainstorm.png" alt="Rainstorm">
                                    <span style="color: #E5C962;">1/s (+0.2 per level)</span>
                                </div>
                                <div>
                                    <img src="../assets/images/Pain/Monsoon.png" alt="Monsoon">
                                    <span style="color: #E58262;">0.6/s (+0.2 per level)</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <p>Damage</p>
                            <p>11 (+2.2 per level) </p>
                        </div>
                        <div>
                            <p>Speed</p>
                            <p>7 m/s</p>
                        </div>
                        <div>
                            <p>Armor</p>
                            <p>12 (<img src="../assets/images/Pain/Drizzle.png" alt="Drizzle"> <span style="color: #9CE562;">82</span>)</p>
                        </div>
                    </div>
                </div>
                <div class="character-lore">
                    <h3 style="text-align: start;">Lore:</h3>
                    <p>"OK. Everything checks out. You're free to go, pal."</p>
                    <p>The robot chirped in acknowledgement. It folded neatly unto itself and began rolling down the hangar's exit lane - at a very safe pace.</p>
                    <p>Hiroshi pulled a switch. The ceiling rail sprung to life, with a distinct mechanical chatter.</p>
                    <p>"So, what's wrong with this one?" Rico enquired with minimal interest, seemingly distracted by the novel he had buried himself in.</p>
                    <p>"Looks like cosmetic damage on a MUL-T unit. Got dinged up by another unit in the charging bay that malfunctioned after another power surge. We'll be checking that one out after this. You can thank the electrical crew for that," Hiroshi remarked. </p>
                    <p>"Great. How hard is it for them to just keep things stable? They have robots doing 90% of their job anyway." Rico scoffed.</p>
                    <p>"We've got complaints on this unit about poor welding jobs, which might've been the cause. Optical calibration is probably off, so we'll also be taking a look at that while it's here. I'd still put money on it being electrical not keeping up with maintenance. Hey, Rico! Would you put that down and help me out?"</p>
                    <p>The rail brought a bright yellow robot, slumbering, into the hangar. Hiroshi flipped the switch and the rail slowed to a halt, bringing with it silence. He began moving to unhook the robot. Reluctantly, Rico set his book on the work desk and started to help unload. In a few minutes the robot was on the service platform.</p>
                    <p>Hiroshi walked over to one of the tool cabinets and pulled out a strange device. He popped open the access panel to the unit's dented head, and began probing at the damage from the opposite side. In no time at all, the tool beeped and kicked back violently. The dent was gone.</p>
                    <p>"Go put this away while I fix the optics," Hiroshi said, one arm stretched behind his back, device in hand. "I have something I want to show you in a sec."</p>
                    <p>Rico grunted and took the de-denting tool back to the cabinet. Hiroshi was already soldering away with the iron from his pocket.</p>
                    <p>This caught Rico's interest.</p>
                    <p>"You don't need a soldering iron to fix the calibration. What are you doing?" he asked.</p>
                    <p>"I already fixed the optics. Remember when I said I wanted to show you something cool - the next time we got a MUL-T in the shop? Come here." said Hiroshi, gesturing. "You see these two chips? It’s actually just one chip that's been split. MUL-T’s come with the same cores as those fancy chef bots, but they cut off access to the main learning module."</p>
                    <p>"You don't say," Rico responded, still trying to see the chip Hiroshi was talking about. "Why'd they do something like that?"</p>
                    <p>"It's cheaper to just make all the cores the same way at the factory and alter them later. The manufacturer says it's for safety, but they just use it to sell you the new cores every few years instead of letting you just teach the units to do a new job." Hiroshi explained.</p>
                    <p>"Sounds about right. If it were a safety issue, why don't they do the same thing with the chef bots? They've been super stable. Can't say they've even ever got an order wrong, even if it's totally out there. They even managed to get Ma's Squid Risotto right."</p>
                    <p>"It's what they can get away with. Anyway, that should do it. We'll just sneak a few minutes with this guy. Wake up," he commanded.</p>
                    <p>The robot's relaxed posture disappeared, and it stood fully alert.</p>
                    <p>"Hey pal, you see this thing I'm doing with my hand? Can you do that?"</p>
                    <p>The robot mimicked a rude gesture.</p>
                    <p>"That's fantastic! You're doing great!" Hiroshi was excited, and Rico got a devilish grin. He rushed off to his desk. Hiroshi continued repeating the gesture, and the robot continued mimicking it back with its single functional hand. Rico stepped back into the robot's view, with a picture covered in holes. "Can you remember this man? This is Ron from corporate, and he's a total degenerate."</p>
                    <p>The robot beeped in affirmation.</p>
                    <p>"Can you do that next time you see this man?"</p>
                    <p>The robot beeped in affirmation again.</p>
                    <p>"Rico! He's gonna remember that! MUL-T, forget that."</p>
                    <p>The robot did not respond.</p>
                    <p>"What are you two up to now?" said a grating voice, clearly approaching from no discernable direction. In a panic, Hiroshi slapped the access panel on the unit's head closed and covered its optical sensor.</p>
                    <p>"Just fixing up robots! Doing our job! In fact, we just finished with this one. You're good to go, pal!" Hiroshi exclaimed to Ron, slapping the robot on the back. The machine folded up neatly into itself and began rolling down the hangar's exit lane.</p>
                    <p>"I see. I'd better not catch you two slacking again." Ron said sternly, before turning around and making his usual relieving exit – most likely to pester other workers on his route.</p>
                    <p>They both let out a sigh of relief. Rico stood up. "Well, we're due at the site in about… 13 hours. That's enough time to grab that MUL-T, pop it back open, and reset it."</p>
                    <p>Hiroshi also stood up. “Yeah, I’m not too worried. How much trouble could it cause in 13 hours?”</p>
                </div>
            </div>
        </div>
        <div class="page-two-character">
            <div class="page-two-character-video">
                <div>
                    <img alt="MUL-T" src="../assets/images/Characters/MUL-T/Mult.jpg" class="video-character">
                </div>
            </div>
        </div>

    </div>
</section>

<div class="abilities" id="abilities">
    <div class="abilities_header">
        <h2>Abilities</h2>
    </div>
    <div class="abilities_heroAbilities">
        <div class="abilities_left">
            <!-- Видео способностей персонажа -->
            <div class="abilities_video">
                <video
                        v-for="(video, index) in videos"
                        :key="index"
                        :id="'video-' + index"
                        :src="video.src"
                        class="abilities_video_play"
                        muted
                        loop
                        :style="{ display: selectedIndex === index ? 'block' : 'none' }"
                ></video>
            </div>
            <!-- Кнопки с картинкой -->
            <div class="abilities_selector" >
                <div class="some_abilities">
                    <button class="ability-button" v-for="(ability, index) in abilities" :key="index"  v-if="index <4" @click="selectAbility(index)"
                            :class="{ selected: selectedIndex === index, 'non-selected': selectedIndex !== index }"
                    ><img class="ability_image" :src="ability.image" :alt="ability.name" /></button>
                </div>
                <div class="one_ability">
                    <button class="ability-button" v-for="(ability, index) in abilities" :key="index"  v-if="index === 4" @click="selectAbility(index)"
                            :class="{ selected: selectedIndex === index, 'non-selected': selectedIndex !== index }"
                    ><img class="ability_image" :src="ability.image" :alt="ability.name" /></button>
                </div>
                <div class="one_ability">
                    <button class="ability-button" v-for="(ability, index) in abilities" :key="index"  v-if="index === 5" @click="selectAbility(index)"
                            :class="{ selected: selectedIndex === index, 'non-selected': selectedIndex !== index }"
                    ><img class="ability_image" :src="ability.image" :alt="ability.name" /></button>
                </div>
                <div class="some_abilities">
                    <button class="ability-button" v-for="(ability, index) in abilities" :key="index"  v-if="index ===6 || index===7" @click="selectAbility(index)"
                            :class="{ selected: selectedIndex === index, 'non-selected': selectedIndex !== index }"
                    ><img class="ability_image" :src="ability.image" :alt="ability.name" /></button>
                </div>
            </div>
        </div>
        <!-- Описание способностей персонажа -->
        <div class="abilities_right">
            <div
                    v-for="(ability, index) in abilities"
                    :key="index"
                    class="right-ability"
                    :class="{
            'display-selected': selectedIndex === index,
            'display-non-selected': selectedIndex !== index
          }"
            >
                <div class="ability-up">
                    <img :src="`${ability.image}`" :alt="ability.name" />
                    <div>
                        <h3>{{ ability.name }}</h3>
                        <p>{{ ability.description }}</p>
                    </div>
                </div>
                <div class="ability-down">
                    <p v-if="ability.cooldown">Cooldown: {{ ability.cooldown }}</p>
                    <p v-if="ability.procCoefficient">Proc Coefficient: {{ ability.procCoefficient }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script src="../assets/js/character.js"></script>
</body>
</html>